@charset "utf-8";


/*homeで使う*/

#main p span.strong_num{
	color: red;
	font-size: 30px;
	font-style: italic;
}

#main div a.access_btn{
	display: block;
	margin-bottom: 10px;
	margin-right: 5px;
	border-radius: 10px;
	border: 2px solid #330000;
	width: 80px;
	line-height: 1.8;
	text-align: center;
	color: #eeeeee;
	background-color: #333;
	float: left;
	clear: left;
}

#main div a.access_btn:hover{
	text-decoration: none;
	background-color: #837768;
	border-color: #837768;
	color: #eeeeee;
}

#main div.btn_nav{
	border-bottom: 1px dashed #000000;
	min-height: 35px;
	margin-bottom: 10px;
//	padding-left: 90px;
	font-size: 12px;
}

#main div.btn_nav:last-child{
	margin-bottom: 30px;
}

aside.mb1em a:hover{
	cursor:pointer;
}

#iconlist-wrapper{
	width:99.7%;
	height:260px;
	background-color:#ffffff;
	margin-top:10px;
	overflow:hidden;
}

#iconlist-main{
	width:977px;
	height:277px;
	padding:6px;
	padding-bottom:30px;
	overflow-x:scroll;
	overflow-y:hidden;

}

#iconlist-reel{
	width:2070px;
	height:106%;
}

#thumb-main{
	background-color:#55acee;
	width:246px;
	height:49%;
	margin-right:10px;
	float:left;
	position:relative;
}

#thumb-main div:first-child{
	margin:10px;
	font-size:35px;
	color:#ffffff;
}

#thumb-main div:last-child{
	margin:10px;
	font-size:15px;
	color:#ffffff;
	opacity;0.5;
}

.thumb{
	width:118px;
	height:50%;
	margin-bottom:10px;
	margin-right:10px;
	float:left;
	position:relative;
}

.thumb:hover{
	opacity:0.8;
}


.thumb:nth-child(16){
	clear:left;
}

.thumb_msg{
	height:16%;
	width:100%;
	background-color:#000000;
	overflow:hidden;
	border: 1px solid #000000;
	position:absolute;
	opacity:0.7;
	bottom:0%;
	color:#ffffff;
	-ms-transition-property:height;
	-ms-transition-duration:0.5s;
	-webkit-transition-property:height;
	-webkit-transition-duration:0.5s;
	-o-transition-property:height;
	-o-transition-duration:0.5s;
	-moz-transition-property:height;
	-moz-transition-duration:0.5s;

}

.thumb_msg a{
	color: #ffffff;
	display:block;
	position:absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;

	
}

.thumb_msg a:hover{
	text-decoration:none;
	color:#ffffff;
	
}

.thumb_msg:hover{
	height:32%;
	cursor:pointer;
}



/* Circles/circle_idで使う*/

#circle_left{
	width: 55%;
	float: left;
}

#circle_name{
	font-size: 30px;
	font-weight: 800;
	color: #663333;
	border-bottom: 3px solid #663333;
	margin-bottom: 5px;
	position:relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


#circle_left #circle_photo{
	margin-top:10px;
	width: 100%;
	height: auto;
	max-height:200px;
	position: relative;
}
#circle_left #circle_photo_base{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:auto;
	z-index: 0;
}

img#circle_photo_base{
	width: 100%;
}

#circle_left #circle_photo_on{
	position: relative;
	z-index: 1;
}

img#circle_photo_on {
	width: 100%;
	height:auto;
}

#circle_left #circle_pr{
	padding: 10px;
	line-height: 1.5;
}

#circle_right{
	margin-left: 57%;
}


#circle_right div{
	padding-left: 10px;
}

#circle_right #man_ratio{
	background-color: #6666ff;
	width: 60px;
	height: 20px;
	border-radius:10px 0 0 10px;
	padding-left: 10px;
}
#circle_right #woman_ratio{
	background-color: #ff6666;
	width: 60px;
	height: 20px;
	border-radius:0 10px 10px 0;
	text-align: right;
	padding-right: 10px;
}

#circle_top{
	position:relative;
	height:90px;
}

#circle_top img,#circle_top input{
	float:right;
}

#circle_top img:hover,#circle_top input:hover{
	cursor:pointer;
}

#circle_top .twitter-follow-button{
	margin-left:10px;
	float:right;
	
}

/* Students/studentで使う */

.list{
	height: 223px;
	border-top: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	padding-top: 10px;
	background-color: #ffffff;
}

.list:last-child{
	border-bottom: 1px solid #aaaaaa;
}


.list .list_left{
	position:relative;
	width: 15%;
	padding: 5px;
	height: 100%;
	float:left;
}

.list .list_right{
	width: 85%;
	padding: 10px;
	padding-top:0px;
	height: 100%;
	float:right;
	position: relative;
}

.list .list_right_top{
	position: relative;
	height: 47px;
}

.list .list_right_middle{
	position: relative;
	margin-top: 10px;
	clear: left;
}

.list .list_right_bottom{
	position: relative;
	clear: left;
	margin-top: 33px;
}

.list .list_name{
	font-weight: 800;
	font-size: 25px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}

.list .list_catch_phrase{
	font-weight: 700;
	line-height:1.3;
	color: #ff0000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list .list_pr{
	height: 80px;
	width: 100%;
	overflow: hidden;
//	white-space: nowrap;
//	text-overflow: ellipsis;
	margin-bottom: 6px;
}

.list .list_tags{
	width: 37%;
	color: #00aced;
	font-size: 15px;
	float: left;	
}

.list .list_tags:last-child{
	width: 25%;
}

.list .list_twitter{
	position: absolute;
	left: 33%;
}

.list .list_image{
	width: 70%;
	margin-left:15%;
	float: left;
}

.list .list_image img{
	border-radius: 10px;
}

.list .icon{
	position: absolute;
	float:left;
}

.list img.not_login:hover{
	cursor:pointer;
}

.list .list_bottan{
	position: absolute;
	right: 3%;
	line-height: 2;
	font-weight: 600;
}

#search_keyword{
	padding:10px;
	width:70%;
	border:solid 1px #666;
	margin-left: 3px 0 3px 0;
	border-radius: 5px;
}

#search_result{
	padding:10px;
	font-size: 20px;
	font-weight:800;
	
}

#search_result div{
	float: left;
}

#search_result_tw{
	margin-top:24px;
	margin-left:30px;
}

.search_group{
	clear: left;
	padding-top: 15px;
//	border-top: 1px dashed #999999;
}

.search_title{
	width: 19%;
	font-size: 16px;
	font-weight: 800;
	float: left;
}

.search_forms , .search_forms2{
	width: 80%;
	margin-left: auto;
	
}

.search_forms lavel{
	display: block;
	float: left;
	width: 105px;
}


form input#search_submit1,form input#search_submit2{
	font-weight: 800;
	font-size: 20px;
	color: #ffffff;
	background-image: none;
	background-color: #dd0000;
	border-width: 0px;
	display: block;
	width: 100px;
	padding: 5px;
	margin-left: auto;
	margin-top:-40px;
}

form input#search_submit1{
	margin-top:-40px;
}

form input#search_submit2{
	margin-top:-50px;
}



form input#search_submit1:hover,form input#search_submit2:hover{
	background-color: #ff3333;
}

input#pager{
	color: #6666ff;
	border-width: 1px;
	border-color: #ccccff;
	padding: 0px;
	width: 30px;
	height: 30px;
}

/* Students/circleで使う */
#powerpoint_wrapper{
	position: relative;
	width:100%;
}

#powerpoint_wrapper:before {
    content:"";
    display: block;
    padding-top: 56.25%; 
}

#powerpoint_wrapper iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.i-btn#i-btn_circle a{
	width: 200px;
}

/* Students/student_editで使う */

 #student_menu .i-btn a{
 	background:#95c5ee;
 	text-align:center;
	padding: 12px 5px;
	float:left;
	margin-bottom:0.5em;
	margin-right:2%;
	width:23%;
 }
 #student_menu .i-btn a:hover,.team-msg-right a:hover,.error-btn a:hover{
 	background:#a5d5fe;
 }
 
#student_edit_content0 .list{
	height: 120px;
}

#student_edit_content0 .list_right_top{
	height: 30px;
}

 /* Students/student_resisterで使う */
 
 .i-btn_250{
	width: 250px;
 }
 
 /* Students/circle_edit_mainで使う */
.i-btn_cem{
	width:200px;
	margin-left:auto;
}

/*ここからstudentページのタブレット、スマホ用*/
 
@media(max-width:675px){/*listのコンテンツのwidthをひろげる*/

	.list{
		height: 200px;
	}
	
	.list .list_twitter{
		left: 40%;
	}

	.list .list_right{
		width: 100%;
	}
	
	.list .list_right_top{
		margin-left: 15%;
	}

	.list .list_left{
		position:absolute;
		padding: 1px;
	}

	.list .list_twitter{
		left:30%;
	}

	.list .list_image{
	//	width: 70%;
		max-width:50px;
	}

	.list .list_image img{
		border-radius: 10px;
	}
	
	.list .list_pr{
		height:60px;
	}
	
	#student_edit_content0 .list .list_right{
		width:100%;
		padding-left:80px;
	}
	
	#student_edit_content0 .list .list_right_top{
		margin-left:0;
	}
	
	
}


@media(max-width:570px){/*listの最下部を調整*/

	.list{
		height:230px;
	}

	.list .list_twitter{
		left:0;
	}

	.list .icon{
		top: 35px;
		left: 0;
	}
	
	.list .list_bottan{
		top: 35px;
	}

}

@media(max-width:480px){/*searchのレイアウト変更、listのアイコン幅固定*/
	.search_title{
		width:100%;
		font-size:16px;
		float: none;
	}

	.search_forms,.search_forms2{
		width:100%;
	}

	form input#search_submit1,form input#search_submit2{
		width: 25%;
	}

	.list .list_image{
		width: 100px;
		margin-left:15%;
	}

	.list .list_right_top{
		margin-left:60px;
	}
	
	.list .list_name{
		margin-top:5px;
		font-size:20px;
	}
	
}

@media(max-width:310px){/*listのコンテンツを全体的に小さく*/
	.list .list_bottan{
		font-size: 13px;
		right:0px;
	}

	.list .icon{
		width:130px;
	}

	.list .list_tags{
		font-size: 13px;
	}
}

/*ここからstudentページのタブレット、スマホ用*/

@media(max-width:400px){/*ここから一段構成*/
		
	#circle_left{
		width: 100%;
		float: none;
	}
	
	#circle_right{
		margin-left: 0;
	}
	
	#circle_top .icon{
		margin-top:5px;
		clear: right;
	}
	
	#circle_left #circle_photo{
		margin-top:25px;
	}
	
	#circle_name{
		font-size:22px;
	}
}

@media(max-width:420px){/*listのコンテンツを全体的に小さく*/
	
	#student_menu .i-btn a{
		width:48%;
		height: 40px;
		padding-top:8px;
		padding-bottom:10px;
		margin-bottom: 0.25em;
	}

	#student_menu .i-btn :nth-child(3) a{
		clear: left;
	}

}
