@charset "utf-8";


/*homeで使う*/

#main p span.strong_num{
	color: red;
	font-size: 30px;
	font-style: italic;
}

#main div a.access_btn{
	display: block;
	margin-bottom: 10px;
	margin-right: 5px;
	border-radius: 10px;
	border: 2px solid #330000;
	width: 80px;
	line-height: 1.8;
	text-align: center;
	color: #eeeeee;
	background-color: #333;
	float: left;
	clear: left;
}

#main div a.access_btn:hover{
	text-decoration: none;
	background-color: #837768;
	border-color: #837768;
	color: #eeeeee;
}

#main div.btn_nav{
	border-bottom: 1px dashed #000000;
	min-height: 35px;
	margin-bottom: 10px;
//	padding-left: 90px;
	font-size: 12px;
}

#main div.btn_nav:last-child{
	margin-bottom: 30px;
}



/* Circles/circle_idで使う*/

#circle_left{
	width: 55%;
	float: left;
}

#circle_left #circle_name{
	font-size: 30px;
	font-weight: 800;
	color: #663333;
	border-bottom: 3px solid #663333;
	margin-bottom: 5px;
	position:relative;
}


#circle_left #circle_photo{
	margin-top:20px;
	width: 400px;
	height: 150px;
	position: relative;
}
#circle_left #circle_photo_base{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#circle_left #circle_photo_base img{
	width: 200px;
}

#circle_left #circle_photo_on{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#circle_left #circle_pr{
	padding: 10px;
	line-height: 1.5;
}

#circle_right{
	margin-left: 60%;
}


#circle_right div{
	padding-left: 10px;
}

#circle_right img,#circle_right input{
	margin-top: 10px;
	margin-bottom: 10px;
}

#circle_right #man_ratio{
	background-color: #6666ff;
	width: 40px;
	height: 20px;
	border-radius:10px 0 0 10px;
	padding-left: 10px;
}
#circle_right #woman_ratio{
	background-color: #ff6666;
	width: 60px;
	height: 20px;
	border-radius:0 10px 10px 0;
	text-align: right;
	padding-right: 10px;
}

#main #circle_name img.icon,#main #circle_name input.icon{
	position: absolute;
	top: -15px;
	right: -20px;
}

/* Students/studentで使う */

.list{
	height: 200px;
	border-top: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	padding-top: 10px;
	background-color: #ffffff;
}

.list:last-child{
	border-bottom: 1px solid #aaaaaa;
}


.list .list_left{
	width: 15%;
	padding: 5px;
	height: 100%;
	float:left;
}

.list .list_right{
	width: 85%;
	padding: 10px;
	padding-top:0px;
	height: 100%;
	float:right;
	position: relative;
}

.list .list_right_top{
	position: relative;
	height: 30px;
}

.list .list_right_middle{
	position: relative;
	margin-top: 10px;
	clear: left;
}

.list .list_right_bottom{
	position: relative;
	clear: left;
}

.list .list_name{
	font-weight: 800;
	font-size: 25px;
	clear: left;
	float: left;
}

.list .list_catch_phrase{
	font-weight: 700;
	line-height:2;
	color: #ff0000;
	position:absolute;
	left: 50%;
}

.list .list_pr{
	height: 70px;
	clear: left;
}
/*
.list .list_tags{
	width: 15%;
	margin-left: 2%;
	text-align: center;
	font-weight: 600;
	border: 2px solid #d26914;
	background-color: #d26914;
//	color: #dc143c;
	border-radius: 5px;
	float: left;	
}
*/
.list .list_tags{
	width: 15%;
	color: #00aced;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 17px;
	float: left;	
}

.list .list_twitter{
	position: absolute;
	left: 33%;
}

.list .list_image{
	width: 70%;
	margin-left:15px;
	float: left;
}

.list .list_image img{
	border-radius: 10px;
}

.list .icon{
	float:left;
}

.list img.not_login:hover{
	cursor:pointer;
}

.list .list_bottan{
	position: absolute;
	right: 3%;
	line-height: 2;
	font-weight: 600;
}

#search_keyword{
	padding:10px;
	border:solid 1px #666;
	margin-left: 3px 0 3px 0;
	border-radius: 5px;
}

#search_result{
	padding:10px;
	font-size: 20px;
	font-weight:800;
	
}

#search_result div{
	float: left;
}

#search_result_tw{
	margin-top:24px;
	margin-left:30px;
}

.search_group{
	clear: left;
	padding-top: 15px;
//	border-top: 1px dashed #999999;
}

.search_title{
	width: 15%;
	font-size: 16px;
	font-weight: 800;
	float: left;
}

.search_forms , .search_forms2{
	width: 80%;
	margin-left: auto;
	
}

.search_forms lavel{
	display: block;
	float: left;
	width: 110px;
}


form input#search_submit1,form input#search_submit2{
	font-weight: 800;
	font-size: 20px;
	color: #ffffff;
	background-image: none;
	background-color: #dd0000;
	border-width: 0px;
	display: block;
	width: 100px;
	padding: 5px;
	margin-left: auto;
	margin-top:-40px;
}

form input#search_submit1{
	margin-top:-40px;
}

form input#search_submit2{
	margin-top:-50px;
}



form input#search_submit1:hover,form input#search_submit2:hover{
	background-color: #ff3333;
}

/* Students/student_editで使う */

 #student_menu .i-btn{
	float:left;
	margin-top:1em;
	margin-bottom:2em;
	width:25%;
 }
 
 #student_edit_content1,#student_edit_content2{
//	display:none;
 }

